ul{
    list-style-type: none;
    border: 2px seagreen;
    background-color: grey;
}
ul a{
    display: inline-block;
    color: wheat;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    border: 5px gray;
}
ul a:hover{
    color: yellowgreen;
    background-color: violet;
    font-size: large;
}
ul a:active{
    color: tomato;
}
table,th,td{
    border: 4px solid rgb(14, 1, 5);
   
}
th{
    height: 50%;

}
th{
    text-align: center;
    vertical-align: 40px;
}
td{
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    padding: 10px;
    margin: 5px;
}