.a1{
    color:red;
    font-style: oblique;
}
.a2{
    color:darkblue;
    font-style:normal;
    font-variant: small-caps;
}
.a3{
    color:darkolivegreen;
    font-style:italic;
    font-variant: small-caps;
}